<section class="phx-hero">
  <h2><%= gettext "Welcome to CRUD  %{name} and Elixir", name: "Phoenix and Elixir" %></h2>
</section>

<h3>Listas</h3>
<li href='/users'></li>
<h3>Dashboard</h3>
  <a>
    <%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %>
  </a>
